.categories {
  padding-left: 20px;
  padding-right: 20px;

}

.categories > h1 {
  font-weight: 400;
  letter-spacing: 3px;
}

.categories__containt {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.categories__item {
  position: relative;
  margin-top: 10px;
  height: 20%;
  width: 100%;
  border-radius: 30px;
  display: grid;
  cursor: pointer;
  place-items: center;
  box-shadow: 0 4px 8px 0 rgba(126, 124, 124, 0.1);
}

.categories__item > p {
  font-size: 20px;
}

.categories__itemImage {
  padding: 40px;
  width: 50%;
  height: 100px;
  object-fit: contain;
}
